<form action="/tareas/tareas" method="post">
  <div>
    <label for="nombre">Nombre de la tarea:</label>
    <input type="text" id="nombre" name="nombre" required />
  </div>
  <div>
    <button type="submit">Crear tarea</button>
  </div>
</form>