<form action="/materias/materias" method="post">
  <div>
    <label for="nombre">Nombre de la materia:</label>
    <input type="text" id="nombre" name="nombre" required />
  </div>
  <div>
    <button type="submit">Crear Materia</button>
  </div>
</form>

<a href="/">Volver al menu de materias</a>