<article>
  <h1>Administrar Materias</h1>
  <nav>
    <ul>
      <li><a href="/materias/alta" class="button">Dar de alta materia</a></li>
      <li><a href="/materias/baja" class="button">Dar de baja materia</a></li>
      <li><a href="/materias/materias" class="button">Consultar materias</a></li>
    </ul>
  </nav>
</article>
