<article>
  <h1>Administrar Tareas</h1>
  <nav>
    <ul>
      <li><a href="/tareas/alta" class="button">Dar de alta tarea</a></li>
      <li><a href="/tareas/baja" class="button">Dar de baja tarea</a></li>
      <li><a href="/tareas/consultar" class="button">Consultar tareas</a></li>
      <li><a href="/tareas/cambiar-estado" class="button">Cambiar el estado de tarea</a></li>
    </ul>
  </nav>
</article>
